<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CHATS</title>
    <meta name="theme-color" content="#111b21" />
    <meta name="mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />
    <meta name="apple-mobile-web-app-title" content="LinkUp" />
    <link rel="manifest" href="{{ url_for('manifest_webmanifest') }}" />
    <link rel="icon" href="{{ url_for('static', filename='linkup_logo.svg') }}" type="image/svg+xml" />
</head>
<body>
    
    <script defer src="{{ url_for('static', filename='pwa-register.js') }}"></script>
</body>
</html>